.Home {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; }
  .Home .slick-initialized .slick-slide img {
    width: 100%;
    height: 2rem; }
  .Home .slick-dots {
    bottom: 0; }
  .Home .slick-initialized {
    overflow: hidden; }
  .Home .manu span {
    background: url("./img/item.png") no-repeat center center;
    background-size: cover; }
  .Home .wrapper {
    overflow: hidden;
    flex: 1; }
    .Home .wrapper .main-list {
      flex: 1;
      flex-direction: column;
      padding: 0 20px 20px 20px; }
      .Home .wrapper .main-list li {
        height: 80px;
        line-height: 80px;
        text-align: center;
        display: flex;
        background: gainsboro;
        margin: 5px 0;
        border-bottom: 1px solid #000; }
        .Home .wrapper .main-list li .tit {
          width: 80px;
          height: 80px;
          background: url("./img/good-img.jpg") no-repeat center center;
          background-size: cover;
          box-sizing: content-box; }
        .Home .wrapper .main-list li .discript {
          flex: 1;
          background: #666; }
