@import '../../style/_config.scss';
.Home{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: $nav-height;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    .slick-initialized .slick-slide{
        img{
            width: 100%;
            height: 2rem;
        }
    }
    .slick-dots{
        bottom: 0;
    }
    .slick-initialized{
        overflow: hidden;
    }
    .manu{
        span{
            background: url('./img/item.png') no-repeat center center;
            background-size: cover;
        }
    }
    .wrapper{
        overflow: hidden;
        flex:1;
        .main-list{
            flex: 1;
            flex-direction:column; 
            padding: 0 20px 20px 20px;
            li{
                height: 80px;
                line-height: 80px;
                text-align: center;
                display: flex;
                background: gainsboro;
                margin: 5px 0;
                border-bottom: 1px solid #000;
                .tit{
                    width: 80px;
                    height: 80px;
                    background: url('./img/good-img.jpg') no-repeat center center;
                    background-size: cover;
                    box-sizing: content-box;
                }
                .discript{
                    flex: 1;
                    background: #666;
                }
            }
        }
    }
}