.Home {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; }
  .Home .slick-initialized .slick-slide img {
    width: 100%;
    height: 2rem; }
  .Home .slick-dots {
    bottom: 0; }
  .Home .manu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 84px;
    padding: 20px; }
    .Home .manu li {
      flex: 1;
      height: 44px; }
      .Home .manu li span {
        display: block;
        margin: 0 auto;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        border-radius: 50%;
        background: pink; }
  .Home .wrapper {
    overflow: hidden;
    flex: 1; }
    .Home .wrapper .main-list {
      flex: 1;
      flex-direction: column;
      padding: 0 20px 20px 20px; }
      .Home .wrapper .main-list li {
        height: 44px;
        line-height: 44px;
        text-align: center;
        display: flex;
        background: gainsboro;
        border-bottom: 1px solid #000; }
        .Home .wrapper .main-list li .tit {
          width: 44px;
          height: 44px; }
        .Home .wrapper .main-list li .discript {
          flex: 1;
          background: #666; }
